if TARGET_SAMA5D2_XPLAINED

config SYS_BOARD
	default "sama5d2_xplained"

config SYS_VENDOR
	default "atmel"

config SYS_SOC
	default "at91"

config SYS_CONFIG_NAME
	default "sama5d2_xplained"

config ATMEL_SPI0
	bool "SPI0"
	default y

config ATMEL_SDHCI0
	bool "SDHCI0"
	select ATMEL_SDHCI
	default y

config ATMEL_SDHCI1
	bool "SDHCI1"
	select ATMEL_SDHCI
	default y

endif
