// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * sam9x7.dts - Device Tree file for SAM9X7 EK board
 *
 * Copyright (C) 2021 Microchip Technology Inc. and its subsidiaries
 *
 * Author: Balamanikandan Gunasundar <balamanikandan.gunasundar@microchip.com>
 * 	   Varshini Rajendran <varshini.rajendran@microchip.com>
 */
/dts-v1/;
#include "sam9x7.dtsi"

/ {
	model = "Microchip SAM9X7-EB";
	compatible = "microchip,sam9x7eb", "microchip,sam9x7", "atmel,at91sam9";

	chosen {
		stdout-path = &dbgu;
	};

	clocks {
		slow_xtal: slow_xtal {
			clock-frequency = <32768>;
		};

		main_xtal: main_xtal {
			clock-frequency = <24000000>;
		};
	};
};

&gmac0 {
	#address-cells = <1>;
	#size-cells = <0>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_gmac0>;
	phy-mode = "rgmii-id";
	phy-handle = <&phy>;
	status = "okay";

	phy: ethernet-phy@7 {
		reg = <0x7>;
	};
};
